<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src=<%= @recipe.asset.url %> class="card-img" alt="recipe photo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <%= @recipe.title %>
        </h5>
        <% @recipe.tags&.map do |tag| %>
        <span class="badge badge-info"><%= tag.name %></span>
        <% end %>
        <p class="card-text">
          <%= @recipe.description %>
        </p>
        <% if @recipe.chef %>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= @recipe.chef.name %>
          </h6>
        <% end %>
      </div>
    </div>
  </div>
</div>
